$transition: .5s linear;

body {
    background: #fff;
    font-family: Roboto,Arial,"Helvetica Neue",Helvetica,sans-serif;
    margin: 0;
    min-height: 100vh;
    font-size: 0.95rem;
}

* {
    box-sizing: border-box;
}

.Demo__Container {
  h1, h2, h3 {
    font-family: "Roboto Slab", serif;
    margin-top: 0rem;
  }
  h1 {
      text-transform: uppercase;
  }
  h2 {
    border-bottom: 1px solid #aaa;
  }
}

textarea,
input[type=text] {
    padding: 0.5rem;
    border: 1px solid #EEE;
    font-size: 1rem;
}

textarea {
    width: 20rem;
}

button,
input[type=submit] {
    border: 1px solid #eee;
    background: #eee;
    padding: .5rem 1rem;
    font-size: 0.9rem;
    border-radius: 999px;
    outline: none;
    transition: $transition;
    margin: 0.2rem;

    &:hover {
        cursor: pointer;
        border: 1px solid #aaa;       
        transition: $transition;
    }
}
