[data-seemore-initial-items] {
  display: none;
}

.SeeMore {
  &__Loader {
    text-align: center;

    svg {
      fill: #000 !important;
      height: 1rem;
    }

    &--hidden {
      display: none;
    }
  }
}
