[data-seemore-initial-items] {
  display: none;
}

.SeeMore {
  &__Loader {
    text-align: center;
    padding: 1rem;

    svg {
      fill: #555555 !important;
      height: 3rem;

      path {
        fill: #555555 !important;
      }
    }

    &--hidden {
      display: none;
    }
  }
}
